[submodule "sigrok/libserialport"]
	path = sigrok/libserialport
	url = git://sigrok.org/libserialport
[submodule "sigrok/libsigrok"]
	path = sigrok/libsigrok
	url = git://sigrok.org/libsigrok
[submodule "sigrok/libsigrokdecode"]
	path = sigrok/libsigrokdecode
	url = git://sigrok.org/libsigrokdecode
[submodule "sigrok/sigrok-cli"]
	path = sigrok/sigrok-cli
	url = git://sigrok.org/sigrok-cli
[submodule "pulseview"]
	path = pulseview
	url = git://sigrok.org/pulseview.git
[submodule "sigrok/pulseview"]
	path = sigrok/pulseview
	url = git://sigrok.org/pulseview.git
[submodule "notebooks/python_sigrok2"]
	path = notebooks/python_sigrok2
	url = git@github.com:jed-frey/python_sigrok2.git
[submodule "sigrok/sigrok-util"]
	path = sigrok/sigrok-util
	url = git://sigrok.org/sigrok-util
[submodule ".mk_inc"]
	path = .mk_inc
	url = https://github.com/jed-frey/make_sandwich.git
[submodule "artifacts/viewtool_CAN_Adapter"]
	path = artifacts/viewtool_CAN_Adapter
	url = https://github.com/jed-frey/CAN_Adapter.git
[submodule "artifacts/libusbcan"]
	path = artifacts/libusbcan
	url = https://github.com/b/libusbcan.git
[submodule "components/CAN/arduino_CANBoard"]
	path = components/CAN/arduino_CANBoard
	url = https://github.com/jed-frey/arduino_CANBoard.git
[submodule "tools/ElfGrinder"]
	path = tools/ElfGrinder
	url = http://www.github.com/jed-frey/ElfGrinder.git
